@darkColor: #1d1e1f;
@fontcolor: #fff;
html.dark {
  .layout-wrap {
    background-color: @darkColor;
    color: @fontcolor;
    .header-wrap {
      background-color: @darkColor;
      color: @fontcolor;
      box-shadow: 0 1px 0px #666;
    }
    .content {
      background-color: @darkColor !important;
      color: @fontcolor;
    }

    .top-menu-item {
      color: @fontcolor;
      &:hover {
        border-bottom-color: #eee !important;
      }
    }
  }

  .menu-item a  {
    color: @fontcolor !important;
    &.active {
      color: #1E80FF !important
    }
  }

  .home-list-wrap .title {
    color: #efefef !important;
  }

   .el-input__suffix {
    background-color: #1d1e1f !important;
  }
}